{% load static %}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
}



.banner .clouds
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner .clouds1 img 
{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    opacity: 30%;
    animation: animate calc(12s * var(--i)) linear infinite;
}

.banner .clouds2 img 
{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    opacity: 30%;
    animation: animate calc(12s * var(--i)) linear infinite;
    animation-direction: reverse;
}

#cloud1 
{
    animation: animate calc(12s * var(--i)) linear infinite;
    animation-direction: normal;
}

#cloud2 
{
    animation: animate calc(12s * var(--i)) linear infinite;
    animation-direction: reverse;
}

@keyframes animate 
{
    0% 
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}

section 
{
    position: relative;
    padding: 75px 100px;
}

section h2
{
    margin-bottom: 20px;
}

.bgradient-top
{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+77&0.65+0,0+41 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 41%, rgba(0,0,0,0) 77%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0) 77%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 41%,rgba(0,0,0,0) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating-2 { 
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }   
}