aiohttp==3.8.1
aiosignal==1.2.0
amqp==5.0.6
argon2-cffi==21.1.0
asgiref==3.4.1
async-timeout==4.0.1
atomicwrites
attrs
autopep8==1.5.7
backcall==0.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
bleach==4.1.0
brotlipy
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
cffi
chardet
charset-normalizer==2.0.7
charts==0.4.6
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama
coverage
coveralls
cryptography
cssselect==1.1.0
cycler==0.10.0
dateparser==1.1.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
dj-database-url==0.5.0
Django==3.2.9
django-allauth==0.46.0
django-extensions==3.1.5
django-heroku
django-ninja==0.16.1
django-postgres-copy==2.6.0
django-pymemcache==1.0.0
django-unicorn==0.37.0
django-widget-tweaks==1.4.9
djangorestframework==3.12.4
docopt==0.6.2
entrypoints==0.3
enum-compat
finviz @ git+https://github.com/mariostoev/finviz@4f8304abde2a0a9817361652ee24f6f7111ef994
frozenlist==1.2.0
gunicorn==20.1.0
idna==3.3
imageio==2.9.0
inflection==0.5.1
iniconfig
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
joblib
jsonpickle==2.0.0
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
kombu==5.1.0
lightgbm==3.3.1
llvmlite==0.37.0
lxml==4.6.4
lz4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mockextras
more-itertools
multidict==5.2.0
multitasking==0.0.9
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
numba
numpy
oauthlib==3.1.1
orjson==3.6.4
packaging
palettable==3.3.0
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.2
patsy
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.3.1
pluggy
prometheus-client==0.11.0
prompt-toolkit==3.0.21
psycopg2==2.9.1
psycopg2-binary==2.8.6
py
pycodestyle==2.7.0
pycparser
pydantic==1.8.2
Pygments==2.10.0
PyJWT==2.3.0
pymemcache==3.5.0
pyOpenSSL
pyparsing==3.0.1
pyrsistent==0.18.0
PySocks
pytest==6.2.5
pytest-cov
python-dateutil
python-decouple==3.4
python-dotenv==0.19.2
python3-openid==3.2.0
pytz==2021.1
pytz-deprecation-shim
PyYAML
pyzmq==22.3.0
Quandl
regex==2021.10.23
requests
requests-oauthlib==1.3.0
rest-pandas==1.1.0
retrying==1.3.3
schedule==1.1.0
scikit-learn
scipy
seaborn==0.11.2
Send2Trash==1.8.0
shortuuid==1.0.8
six
sklearn==0.0
sktime
soupsieve==2.2.1
spotipy==2.19.0
sqlparse==0.2.4
statsmodels
tabulate==0.8.9
tenacity==7.0.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl
toml
tomli
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
tzdata
tzlocal
Unipath==1.1
urllib3
user-agent==0.1.9
vectorbt==0.21.0
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
win-inet-pton
wincertstore==0.2
yarl==1.7.2
yfinance==0.1.64
