
.container {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    min-width: 20vw;
    position: relative;
    width: 30rem;
    height: 20rem;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.container .card .content {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


.container .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}

.container .card .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
    transform: translateY(-100px);
}

.container .card .imgBx img {
    max-height: 100%;
    max-width: 20vw;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
    position: inherit;
    transform: translate(0px, -40px) scale(1.4);
}

.container .card .imgBx h2 {
    color: fff;
    font-weight: 600;
}



