<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>MONXUN CODE | Michael Gibney</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <!-- Nucleo-Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class ="">

    {% csrf_token %}

    <div class="wrapper">

        <div class="main-panel">

            {% include 'includes/navigation.html' %}

            <div class="content">

                {% block content %}{% endblock content %}
                
            </div>

            {% include 'includes/footer.html' %}

        </div>

        {% static 'includes/scripts.html' %}

        {% block scripts %}{% endblock scripts %} 

    </div>

    <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Chart JS -->
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/index.min.js' %}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->


</body>
</html>