<div id="main_footer" class="pt-5 bg-dark" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,), rgba(0,0,0,0.8));	background-position: top left;	background-size: cover;	background-repeat: repeat;">
    <div>
      <div class="row mt-4 py-5">
        <div class="col-md-12 text-center" style="position: relative;">
          <h3 class="mb-5 text-center">Thank you for the support!</h3>
          <button class="btn btn-icon rounded btn-lg btn-light mx-1 btn-twitter" type="button" data-placement="top" data-toggle="tooltip" title="Follow us">
            <i class="fa fa-fw fa-2x fa-twitter"></i>
          </button>
          <button class="btn btn-icon rounded btn-lg btn-light mx-1 btn-facebook" type="button" data-placement="top" data-toggle="tooltip" title="Like us">
            <i class="fa fa-fw fa-2x fa-facebook-square"></i>
          </button>
          <button class="btn btn-icon rounded btn-lg btn-light mx-1 btn-linkedin" type="button" data-placement="top" data-toggle="tooltip" title="Follow us">
            <i class="fa fa-fw fa-2x fa-linkedin"></i>
          </button>
          <button class="btn btn-icon rounded btn-lg btn-light mx-1" type="button" data-placement="top" data-toggle="tooltip" title="Star on Github">
            <i class="fa fa-fw fa-2x fa-github text-primary"></i>
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6 text-left ">
          <ul class="list-inline text-muted d-flex justify-content-center justify-content-md-start mb-4">
            <li class="list-inline-item mx-2">
              <a href="https://www.creative-tim.com/" class="text-light" target="_blank">
                <small>CREATIVE TIM</small>
              </a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="http://presentation.creative-tim.com/" class="text-light" target="_blank">
                <small>ABOUT US</small>
              </a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="http://blog.creative-tim.com/" class="text-light" target="_blank">
                <small>BLOG</small>
              </a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md" class="text-light" target="_blank">
                <small>LICENSE</small>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 pr-0 text-right d-flex justify-content-center justify-content-md-end">
          <li class="list-inline-item text-light mb-4">
            <small> © 2018, Designed by <a href="https://www.invisionapp.com/" target="_blank" class="text-white">Invision</a>. Coded by <a href="https://www.creative-tim.com/" target="_blank" class="text-white">Creative Tim</a> and <a href="https://www.pingendo.com/" target="_blank" class="text-white">Pingendo</a>. </small>
          </li>
        </div>
        <div> </div>
      </div>
    </div>
  </div>