{% load static %}

<!-- JS SCRIPTS BLOCK -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/glass_cards.css' %}">
{% endblock stylesheets%}

<div class="row">

    <div class="col-md-4 mx-auto">
        <div class="glass-container">
            <div id="cards" class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="{% static 'images/card1.png' %}" alt="">
                        <h2 class="ff-sans-cond uppercase text-light letter-spacing-2">BIZ ML</h2>
                    </div>
                    <div class="content">
                        <a class="nav-link btn btn-outline-light text-light ff-sans-cond uppercase letter-spacing-2" href="#">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="glass-container">
            <div id="cards" class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="{% static 'images/card2.jpg' %}" alt="">
                        <h2 class="ff-sans-cond uppercase text-light letter-spacing-2">MUSIC AI</h2>
                    </div>
                    <div class="content">
                        <a class="nav-link btn btn-outline-light text-light ff-sans-cond uppercase letter-spacing-2" href="#">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="glass-container">
            <div id="cards" class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="{% static 'images/card3.jpg' %}" alt="">
                        <h2 class="ff-sans-cond uppercase text-light letter-spacing-2">VBT</h2>
                    </div>
                    <div class="content">
                        <a class="nav-link btn btn-outline-light text-light ff-sans-cond uppercase letter-spacing-2" href="#">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% block scripts %}
{% endblock scripts %}

